.offers-form h3 {
  margin: 1.8rem 0;
  text-align: center;
}
/*my posts*/
.offers-container {
  overflow-x: hidden;
  position: relative;
}
.offers-container ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.offers-container ul li {
  color: var(--c-hard-grey);
  background-color: var(--c-light-blue);
  border: 1px solid var(--c-soft-blue);
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}
.offers-container ul li:hover {
  background-color: var(--c-soft-blue);
  border: 1px solid var(--c-hard-blue);
  cursor: pointer;
}
.results {
  flex: 1;
}
